button {
    width:100px;
    height:40px;
    border-radius: 10px;
    background-color:rgb(3, 211, 3);
    margin:0px 250px 0px 0px;
}
p {
    margin: 10px;
}
h1 {
    margin:12px;
}
h4 {
    color:gray;
}
.profile-card {
    margin:30px;
    width:500px;
    height:350px;
    border-radius:25px;
    color: white;
    background-color:black;
}
.box1 {
    margin:10px 20px;
    display:flex;
}
.box1-1 {
    margin:50px 60px;
    width: 70px;
    height: 70px;
    border-radius:50%;
    text-align:center;
    vertical-align:center;
    background-color:blue;
}
.box1-2 {
    margin:10px;
}
.box2 {
    margin:10px 25px;
    height:50px;
}
.box3 {
    margin:20px;
    display:flex;
}